* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    padding: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 230, 230);
}

.container {
    width: 90rem;
    display: flex;
    justify-content: center;
}

.design-sec {
    width: 45%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-image: linear-gradient(to top right, #2575fc 0%, #2575fc 100%);
    color: white;
}

.icons {
    width: 4rem;
    height: 4rem;
}

.svg-div {
    padding: 1rem;
    border-radius: 5px;
    background-image: linear-gradient(to left, #83a9e970 0%, #83a9e970 100%);
}

h3 {
    font-size: 1.8rem;
}

.des {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 1.5;
}

.each-sec {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.form-section {
    width: 55%;
    background-color: white;
    padding: 4rem;
}

.heading {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.heading span:nth-last-child(1) {
    color: blue;
}

.form-section > div {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.3rem;
}

#form-grouper {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}
#form-grouper > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 48%;
}

input {
    border: none;
    padding: 1rem 2rem;
    background-color: rgb(243, 240, 240);
    border-radius: 6px;
}

#checkbox-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

#form-bottom {
    flex-direction: row;
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.submit-btn {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    color: white;
    background: none;
    border: none;
    padding: 1rem 2.5rem;
    background-color: blue;
    border-radius: 6px;
}

@media (max-width: 700px) {
    
    .design-sec{
        padding: 2rem;
        
        gap: 1.5rem;
    }
    
    .form-section {
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    
    html{
        font-size: 56.25%;
    }
    
    body{
        height: auto;
        margin: 2rem 2rem;
    }
    
    .design-sec,.form-section{
        width: auto;
        padding: 3rem;
    }
    
    .icons{
        transform: scale(70%);
    }
    
    .container{
        flex-direction: column;
    }
    
    #form-grouper{
        flex-direction: column;
        gap: 1.5rem;
    }
    
    #form-grouper > div{
        width: 100%;
    }
}